## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [1]:
mactan = None
hinatuan = None

# YOUR CODE HERE
#Import the pandas module
import pandas as pd

#Import the ph_tempdata.csv file and store * characters as NaN
mactan = pd.read_csv("Mactan_temps_2019-01_2020-12.csv")
hinatuan = pd.read_csv("Rovaniemi_temps_2019-01_2020-12.csv")

In [2]:
print(mactan.head())
print('')
print(hinatuan.head())

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0           0  RPM00098646  2017-01-01  79.70  86.00    NaN     26.5
1           1  RPM00098646  2017-01-02  79.88  85.64    NaN     26.6
2           2  RPM00098646  2017-01-03  82.40  88.52  76.64     28.0
3           3  RPM00098646  2017-01-04  82.04  89.24    NaN     27.8
4           4  RPM00098646  2017-01-05  81.32  88.52  77.00     27.4

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0        1461  RP000098755  2017-01-01  80.06  84.20  75.20     26.7
1        1462  RP000098755  2017-01-02  80.78  85.64  75.92     27.1
2        1463  RP000098755  2017-01-03  79.88  85.28    NaN     26.6
3        1464  RP000098755  2017-01-04  80.60  86.36  75.38     27.0
4        1465  RP000098755  2017-01-05  77.72  89.06    NaN     25.4

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [3]:
mactan_median = None
hinatuan_median = None

# YOUR CODE HERE
#Calculate 
mactan_median = mactan['Celsius'].median()
hinatuan_median = hinatuan['Celsius'].median()

In [4]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 28.1
Hinatuan median: 27.3

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [5]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = None
hinatuan_mar = None

mactan_may = None
hinatuan_may = None

# YOUR CODE HERE
#Select the subset of the Mactan and Hinatuan data for March
mactan_mar = mactan.loc[(mactan['DATE'] >= '2017-03-01') & (mactan['DATE'] <= '2017-03-31')]
hinatuan_mar = hinatuan.loc[(hinatuan['DATE'] >= '2017-03-01') & (hinatuan['DATE'] <= '2017-03-31')]

#Select the subset of the Mactan and Hinatuan data for May
mactan_may = mactan.loc[(mactan['DATE'] >= '2017-05-01') & (mactan['DATE'] <= '2017-05-31')]
hinatuan_may = hinatuan.loc[(hinatuan['DATE'] >= '2017-05-01') & (hinatuan['DATE'] <= '2017-05-31')]

Check that the subsets look ok:

In [6]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
    Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
59          59  RPM00098646  2017-03-01  81.50  87.80  75.20     27.5
60          60  RPM00098646  2017-03-02  81.68  88.70  76.82     27.6
61          61  RPM00098646  2017-03-03  80.96  88.34    NaN     27.2
62          62  RPM00098646  2017-03-04  81.32  88.70  75.56     27.4
63          63  RPM00098646  2017-03-05  82.04    NaN  76.46     27.8

Last values in March, Mactan:
    Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
85          85  RPM00098646  2017-03-27  82.76  88.70  78.44     28.2
86          86  RPM00098646  2017-03-28  80.24  85.28    NaN     26.8
87          87  RPM00098646  2017-03-29  82.22  88.16  75.92     27.9
88          88  RPM00098646  2017-03-30  79.34  85.10    NaN     26.3
89          89  RPM00098646  2017-03-31  78.08  81.50  75.92     25.6

In [7]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
120         120  RPM00098646  2017-05-01  85.10  92.30  78.08     29.5
121         121  RPM00098646  2017-05-02  86.00  94.10  79.16     30.0
122         122  RPM00098646  2017-05-03  82.58  92.30    NaN     28.1
123         123  RPM00098646  2017-05-04  84.92  90.32  74.30     29.4
124         124  RPM00098646  2017-05-05  85.46  90.68  79.88     29.7

Last values in May, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
146         146  RPM00098646  2017-05-27  85.46  91.58  79.52     29.7
147         147  RPM00098646  2017-05-28  85.46    NaN    NaN     29.7
148         148  RPM00098646  2017-05-29  86.18  91.94    NaN     30.1
149         149  RPM00098646  2017-05-30  85.64  92.48    NaN     29.8
150         150  RPM00098646  2017-05-31  84.74  92.48    NaN     29.3

In [8]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
    Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
59        1520  RP000098755  2017-03-01  80.06  86.18    NaN     26.7
60        1521  RP000098755  2017-03-02  76.46  81.50  73.40     24.7
61        1522  RP000098755  2017-03-03  77.18  82.76  73.40     25.1
62        1523  RP000098755  2017-03-04  80.24  85.46  74.30     26.8
63        1524  RP000098755  2017-03-05  76.64  80.24  74.12     24.8

Last values in March, Hinatuan:
    Unnamed: 0      STATION        DATE   TEMP    MAX   MIN  Celsius
85        1546  RP000098755  2017-03-27  81.32  86.36  77.0     27.4
86        1547  RP000098755  2017-03-28  78.98  89.24   NaN     26.1
87        1548  RP000098755  2017-03-29  82.22  88.16  74.3     27.9
88        1549  RP000098755  2017-03-30  81.14  86.54   NaN     27.3
89        1550  RP000098755  2017-03-31  80.78  88.70   NaN     27.1

In [9]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP    MAX   MIN  Celsius
120        1581  RP000098755  2017-05-01  83.48    NaN  77.0     28.6
121        1582  RP000098755  2017-05-02  82.94  88.88  77.0     28.3
122        1583  RP000098755  2017-05-03  82.22  90.68   NaN     27.9
123        1584  RP000098755  2017-05-04  82.94  91.58  76.1     28.3
124        1585  RP000098755  2017-05-05  81.86  92.48  76.1     27.7

Last values in May, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
146        1607  RP000098755  2017-05-27  85.46  93.38  78.08     29.7
147        1608  RP000098755  2017-05-28  85.64  93.56  78.08     29.8
148        1609  RP000098755  2017-05-29  82.04  91.94    NaN     27.8
149        1610  RP000098755  2017-05-30  82.76  92.30  75.20     28.2
150        1611  RP000098755  2017-05-31  84.02  94.10  76.46     28.9

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [10]:
# YOUR CODE HERE
#Convert float data to integer data
mactan_mar['Celsius'].astype(int).head()
hinatuan_mar['Celsius'].astype(int).head()
mactan_may['Celsius'].astype(int).head()
hinatuan_may['Celsius'].astype(int).head()

#Print mean temperatures for both places in March and May
print("The mean temperature in Mactan in March is", mactan_mar['Celsius'].mean(), "degrees Celsius.")
print('The mean temperature in Mactan in May is', mactan_may['Celsius'].mean(), "degrees Celsius.")
print('The mean temperature in Hinatuan in March is', hinatuan_mar['Celsius'].mean(), "degrees Celsius.")
print('The mean temperature in Hinatuan in May is', hinatuan_may['Celsius'].mean(), "degrees Celsius.")

#Print max temperatures for both places in March and May
print('')
print('The max temperature in Mactan in March is', mactan_mar['Celsius'].max(), "degrees Celsius.")
print('The max temperature in Mactan in May is', mactan_may['Celsius'].max(), "degrees Celsius.")
print('The max temperature in Hinatuan in March is', hinatuan_mar['Celsius'].max(), "degrees Celsius.")
print('The max temperature in Hinatuan in May is', hinatuan_may['Celsius'].max(), "degrees Celsius.")

#Print min temperatures for both places in March and May
print('')
print('The max temperature in Mactan in March is', mactan_mar['Celsius'].min(), "degrees Celsius.")
print('The max temperature in Mactan in May is', mactan_may['Celsius'].min(), "degrees Celsius.")
print('The max temperature in Hinatuan in March is', hinatuan_mar['Celsius'].min(), "degrees Celsius.")
print('The max temperature in Hinatuan in May is', hinatuan_may['Celsius'].min(), "degrees Celsius.")

The mean temperature in Mactan in March is 27.293548387096767 degrees Celsius.
The mean temperature in Mactan in May is 29.045161290322582 degrees Celsius.
The mean temperature in Hinatuan in March is 26.58064516129032 degrees Celsius.
The mean temperature in Hinatuan in May is 28.02903225806451 degrees Celsius.

The max temperature in Mactan in March is 28.9 degrees Celsius.
The max temperature in Mactan in May is 30.1 degrees Celsius.
The max temperature in Hinatuan in March is 27.9 degrees Celsius.
The max temperature in Hinatuan in May is 29.8 degrees Celsius.

The max temperature in Mactan in March is 25.6 degrees Celsius.
The max temperature in Mactan in May is 27.3 degrees Celsius.
The max temperature in Hinatuan in March is 24.1 degrees Celsius.
The max temperature in Hinatuan in May is 24.9 degrees Celsius.

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

- Does there seem to be a large difference in temperatures between the months?
    - There is no significantly large difference in the temperatures between the months as there is only an approximately two degree difference between their mean temperatures in both places.
- Is Hinatuan a much cooler place than Mactan?
    - Hinatuan experiences cooler temperatures than Mactan.

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)